[data-field="indexfield"] table.dataTable {text-align: left;}
[data-field="indexfield"] table.dataTable thead th, [data-field="indexfield"] table.dataTable thead td,
[data-field="indexfield"] table.dataTable tfoot th, [data-field="indexfield"] table.dataTable tfoot td {padding: 8px 10px}
[data-field="indexfield"] table.dataTable tbody tr { cursor: pointer; }

[data-field="indexfield"] table.dataTable thead .sorting,
[data-field="indexfield"] table.dataTable thead .sorting_asc,
[data-field="indexfield"] table.dataTable thead .sorting_desc,
[data-field="indexfield"] table.dataTable thead .sorting_asc_disabled,
[data-field="indexfield"] table.dataTable thead .sorting_desc_disabled {
  background-size: 10px;
  background-position: right 10px center;
}

[data-field="indexfield"] table.dataTable thead .sorting {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 19'><defs><style>.cls-1{fill:none;}</style></defs><path d='M5,2.3,7.77,7.1H2.23L5,2.3m0-2L.5,8.1h9L5,.3Z'/><path transform='translate(0,2)' d='M7.77,9.9,5,14.7,2.23,9.9H7.77m1.73-1H.5L5,16.7,9.5,8.9Z'/><rect class='cls-1' width='10' height='19'/></svg>");
}

[data-field="indexfield"] table.dataTable thead .sorting_asc {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 19'><defs><style>.cls-1{fill:none;}</style></defs><polygon points='1.37 7.6 5 1.3 8.63 7.6 1.37 7.6'/><path d='M5,2.3,7.77,7.1H2.23L5,2.3m0-2L.5,8.1h9L5,.3Z'/><rect class='cls-1' width='10' height='19'/></svg>");
}

[data-field="indexfield"] table.dataTable thead .sorting_desc {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 19'><defs><style>.cls-1{fill:none;}</style></defs><polygon transform='translate(0,2)' points='1.37 9.4 8.63 9.4 5 15.7 1.37 9.4'/><path transform='translate(0,2)' d='M7.77,9.9,5,14.7,2.23,9.9H7.77m1.73-1H.5L5,16.7,9.5,8.9Z'/><rect class='cls-1' width='10' height='19'/></svg>");
}

[data-field="indexfield"] table.dataTable thead .sorting_asc_disabled {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 19'><defs><style>.cls-1{fill:none;}</style></defs><path d='M5,2.3,7.77,7.1H2.23L5,2.3m0-2L.5,8.1h9L5,.3Z'/><rect class='cls-1' width='10' height='19'/></svg>");
}

[data-field="indexfield"] table.dataTable thead .sorting_desc_disabled {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 19'><defs><style>.cls-1{fill:none;}</style></defs><path transform='translate(0,2)' d='M7.77,9.9,5,14.7,2.23,9.9H7.77m1.73-1H.5L5,16.7,9.5,8.9Z'/><rect class='cls-1' width='10' height='19'/></svg>");
}

[data-field="indexfield"] table.dataTable {
  background-color: white;
  border: 2px solid #ddd;
  border-collapse: collapse;
}

[data-field="indexfield"] table.dataTable thead th, [data-field="indexfield"] table.dataTable thead td {
  border-bottom: 2px solid #ddd;
  border-right: 1px solid #ddd;
}

[data-field="indexfield"] table.dataTable tfoot th, [data-field="indexfield"] table.dataTable tfoot td {
  border-top: 2px solid #ddd;
  border-right: 1px solid #ddd;
}

[data-field="indexfield"] table.dataTable tbody td {
  border-right: 1px solid #ddd;
}

[data-field="indexfield"] .dataTables_filter {
  margin-bottom: 1em;
}

[data-field="indexfield"] .dataTables_wrapper .dataTables_info,
[data-field="indexfield"] .dataTables_wrapper .dataTables_paginate {
  padding-top: 1em;
  user-select: none;
}

[data-field="indexfield"] .dataTables_wrapper .dataTables_paginate .paginate_button {
  font-size: 1em;
  font-weight: 600;
  margin-left: 1em;
  cursor: pointer;
  outline: 0;
}

[data-field="indexfield"] .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
[data-field="indexfield"] .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #8dae28;
}

[data-field="indexfield"] .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  text-decoration: line-through;
  pointer-events: none;
  color: #ddd;
}

[data-field="indexfield"] .dataTables_wrapper .dataTables_paginate .ellipsis {
  padding-right: 0;
}

[data-field="indexfield"] .dataTables_length select,
[data-field="indexfield"] .dataTables_filter input[type="search"] {
  padding: .25em;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
  border: 2px solid #ddd;
  background: #fff;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  min-height: 2em;
}

[data-field="indexfield"] .dataTables_length select:focus,
[data-field="indexfield"] .dataTables_filter input[type="search"]:focus {
  outline: 0;
  border-color: #8dae28;
}